 <style>

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5; /* Couleur de fond légère */
    color: #333;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #009688; /* Vert foncé pour h1 */
}

h2 {
    color: #4caf50; /* Vert moyen pour h2 */
}

h3 {
    color: #8bc34a; /* Vert clair pour h3 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #80cbc4; /* Bleu-vert */
}

tbody tr:nth-child(even) {
    background-color: #e0f2f1; /* Bleu-vert plus clair pour les lignes paires */
}

p {
    line-height: 1.5;
    color: #555;
}

.query-section {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.query-box {
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.link, .return-link {
    margin-top: 20px;
    color: #009688; /* Vert d'émissions de carbone */
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #80cbc4; /* Bleu-vert */
    border: 1px solid #4caf50; /* Vert plus foncé */
    border-radius: 5px;
}

.link:hover, .return-link:hover {
    background-color: #4caf50; /* Vert plus foncé au survol */
    color: #fff;
}


.highlight {
     
    font-weight: bold; 
    color: #009688; 
}

    </style>